/*CSS DEL INDEX*/
/*--HEADER*/
#titulo{
  color:black;
   font-family:Courier New;
  font-weight: bold;
}
.navbar{
  margin-bottom: 0;
}
#cabeza{

      background: #222222 none repeat scroll 0 0;
      border-bottom: 4px solid #fcab0e;
      margin: 0;
      padding: 1% 0;



}
#cabeza a{
  color:#fcab0e;
  font-family: roboto;
  font-weight: bold;

  text-transform: uppercase;
}
.container{
  width: 100%;
  height: 78%;
  background-color: gray;
  color:white;

}
/*-carrusel-*/
.carousel-inner{
  margin-left: 30%;
  width: 40%;
  height: 15%;
}


#login-dp{
  background-color: #A4A4A4;
  padding: 15px;
}
#login{

  margin-left:35%;
}
/*CSS DEL FOOTER*/
.footer {
    background: #222222 none repeat scroll 0 0;
    border-top: 4px solid #fcab0e;
    margin:0%;
    padding: 1% 0;
}

.footer img{
  width: 10%;
  height: 10%;
  margin: 1%;
}
.footer_dv {
    width: 100%;

}
#listas li{
  color:blue;
}
.footer_dv h4 {


    color: #fcab0e;
    font-family: roboto;
    font-weight: bold;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.footer_dv ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.footer_dv ul li:first-child {
    border-top: medium none;
    box-shadow: none;
}
.footer_dv ul li {
    border-top: 1px solid #000;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.2);
    color: #f1f2f2;
    padding: 5px 0;
}
.footer_dv p {
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 15px;
    text-align: justify;
}


/*productos*/
/*--div principal--*/
.contenedor_principal{
  margin-left: 2%;
  margin-top: 5%;
    margin-bottom: 5%;
border: 1 solid black;
  width: 28%;
  height: 30%;
  float: left;

}


/*-imagenes dentro del div-*/
.contenedor_principal img{
  border: 1px solid #585858;
  height: 30%;
  width: 30%;
}


button{
  padding: 2%;
  margin: 1%;
}
.cuerpo1{
  border: 1 solid black;
  width: 15%;

}


/*--clienteproducto--*/
#contenido{
color:black;
font-weight: bold;
}
/*--sobre nosotros--*/

#sobre img{
  margin: 5%;
}
/*--ubicacion--*/
#ubicacion iframe{
  border:3px solid yellow;
  margin: 2%;
}
/*--PEDIDOS DEL USUARIO--*/
table{
  color:black;
  margin:3%;
}

/*--REGISTRO--*/

.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}
/*--TEMAAS--*/
#temas{
  width: 15%;
  height: 15%;
}
