.color{
  width:15px;
  height: 15px;
}
#negro{
  background-color: black;
  margin: 1%;
  float: left;

}
#rojo{
    float: left;
  margin: 1%;

  background-color: red;
}
#grey{
    float: left;
  margin: 1%;

  background-color: grey;
}
#blanco{
  float: left;
  margin: 1%;

  background-color:#BDBDBD;
}
#verde{
    float: left;
  margin: 1%;

  background-color:green;
}
#marron{
    float: left;
  margin: 1%;
  background-color: #3B240B;
}
